@import url(<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>);

body{
	font-family: 'Lobster', cursive;
	color: #999;
	background-image: url("http://wallpaper-download.net/wallpapers/random-wallpapers-black-and-white-wallpaper-33852.jpg");
}

.container{
	width: 500px;
	height: 500px;
	margin-top: 40px;
	background-color: gray;
	color: black;
	font-size: 50px;
	text-align: center;
	padding-top: 30px;
	opacity: .7;
	margin-left: 400px;

}
